.heading{
    margin-left: 45px;
    font-family: Poppins;
    font-size: 45px;
    color: #192F60;
}

.filter{
    display: inline-block;
    height: 470px;
    width: 200px;
    margin-left: 45px;
    color:#192F60;
    box-shadow:0px 3px 6px #00000029;
    font-family: poppins;
    font-size: 14px; 
}


.filter > label{
    font-family: poppins;
    margin-left: 10px;
    color:#192F60;
}

.filter_span{
    margin-left: 10px;
    color:#192F60;
    font-size:large;
}